{% extends "admin.layout.twig" %}


{% block content %}
    <div class="row">
        <div class="col-sm-9 article">
            <form action="/admin/article/{{article.id}}" method="POST" >
                <fieldset class="article_meta"><legend>articol</legend>
                    <input type="hidden" name="article[id]" id="article_id" value="{{article.id}}" /> <br />
                    <label for="article_title">Titlu</label>
                    <input type="text" name="article[title]" id="article_title" value="{{article.title}}" /> <br />

                    <label for="article_slug">URL</label>
                    <input type="text" name="article[slug]" id="article_slug" value="{{article.slug}}" /> <br />

                    <label for="article_author">Autor</label>
                    <input type="text" name="article[author]" id="article_author" value="{{article.author}}" /> <br />
                </fieldset>
                <fieldset class="article_categories"> 
                    <legend>categorii</legend> <br />
                    {% for category in categories %} 
                        <label for="article_categories_{{category.id}}">{{category.title}}</label> 
                        <input type="checkbox" name="article[categories][{{category.id}}]" id="article_categories_{{category.id}}" {{article.hasCategory(category.id) ? 'checked="checked"' : ''}} />   <br />
                    {% endfor %}
                </fieldset>
                <div class="clearfix"></div>
                <fieldset>
                    <label for="article_excerpt">Pe scurt</label>
                    <textarea type="text" name="article[excerpt]" id="article_excerpt" rows="5" cols="">{{article.excerpt}}</textarea> <br />
                </fieldset>
                <fieldset>
                    <label for="article_body">Continut</label>
                    <textarea type="text" name="article[body]" id="article_body" rows="40" >{{article.body}}</textarea> <br />
                </fieldset>

                <fieldset class="save_panel">
                    <input type="submit" value="salveaza" />
                </fieldset>
            </form>
        </div>

        <div class="col-sm-3">
            <span class="info">Info:</span>
            <ul>
                <li><b>URL</b>: link catre articol,
                    este generat automat din titlu.</li>
                <li><a href="/admin/articles">Lista articole</a></li>
            </ul>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: '#article_body',
                browser_spellcheck: true,
                plugins: 'advlist autolink link image lists charmap print preview pagebreak visualblocks visualchars wordcount media code jbimages fullscreen',
                pagebreak_separator: "<!-- my page break -->",
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages media | fullscreen  preview",
                image_advtab: true,
                autoresize_max_height: 500,
                autoresize_on_init: true
            });
        });
    </script>
{% endblock %}

