<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {% for elem in carousel %}
      <li data-target="#carousel-example-generic" data-slide-to="{{loop.index -1}}" class="{{ loop.index == 1  ? 'active' :'' }}"></li>
      {% endfor %}
    
   
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      {% for  elem in carousel %}
    <div class="item {{ loop.index == 1  ? 'active' :'' }}">
      <img src="{{ elem.img_src}}" alt="{{ elem.img_alt }}">
      <div class="carousel-caption">
          <span>{{ elem.title }}</span>
      </div>
    </div>
    {% endfor %}
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
